@tailwind base;
@tailwind components;
@tailwind utilities;

h1{
  color: white;
  font-size: 24pt;
}
 
h2{
  color: white;
  font-size: 20pt;
}

a{
  color: white;
}

p{
  color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes logoBounce {
  0%, 100% {
    transform: translateY(-55%) translateX(-50%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(-40%) translateX(-50%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
