.desktop {
    display: none;
}

.mobile {
    display: inline;
    position: relative;
    z-index: 5;
}

nav {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100vh;
    background-color: black;
    color: #fff;
    font-weight: 500;
    font-size: 2rem;
    transition: 0.4s;
    text-align: center;
}

.nav-open {
    width: 100%;
    transform: translate(-250px, 0);
}

.link {
    align-content: center;
    width: 100%;
}

.link:hover {
    background-color: rgb(216 180 254);
}

@media only screen and (min-width: 769px) {
    nav {
        display: flex;
        flex-grow: 1;
        flex-shrink: 1;
        justify-content: center;
        height: 100%;
    }

    .desktop {
        display: inline;
    }

    .mobile {
        display: none;
    }
}